<%-include('../partials/head.ejs', {styleSheet: '/styles/main.css' })%>

<div class="Edit-container">
    <h1>Edit Profile</h1>
    <form method="POST" action="/settings/edit/<%=user._id%>?_method=PUT">
    <div class="Edit-options">
        <label for="name">Edit Name</label>
        <input type="text" name="name" id="name" placeholder="<%=user.name%>" alt="<%=user.name%>"value=<%=user.name%>>
    </div>

   
    <input type="submit" value="Submit Changes">
    </form>
</div>
<%-include('../partials/footer.ejs') %>