<%-include('../partials/head.ejs', {styleSheet: '/styles/main.css' })%>

<div class="userName"> <%= user.name %> </div>
<img src=" <%= posts.img %> " alt=" <%= posts.text %>" class="">
<div class="imageTitle"> <%= posts.text %> </div>
<!-- like and dislike buttons -->
<!-- add "previous" and "next" buttons ?-->







<%-include('../partials/footer.ejs') %>