<%-include('../partials/head.ejs', {styleSheet: '/styles/main.css'})%>


<div class="profile-container">

    <div class="profile-navbar">
        
        <div class="profile-image">
            <img src="https://toppng.com/uploads/thumbnail/yoda-silhouette-11562913728qpwtuuynq1.png" 
            title=" <%= user.name %> " 
            alt="Profile Image of <%= user.name %>">
        </div>
        <div class="profile-bio">
            <%= user.name %>
            <%= user.information.bio %>
        </div>
        <div class="follow-DM">
            <button alt="Follow User">
                <a href="">Follow</a>
            </button>
            <button alt="Message User">
                <a href="">Message</a>
            </button>
        </div>
    </div>

        <div class="line"><hr></div>
    
    
    <div class="profile-posts">
        <div class="post-history">
    <% for(let i = 0; i < post.length; i++) { %>
        <% if (post.length === 0) { %>
            <h3>This person hasn't posted yet!</h3> 
        <% } else if (user._id.toString() == post[i].user.toString()) { %>
                <div class="image-animation">
                <a href="/visit/<%=post[i]._id%>">
                    <img src="<%=post[i].img%>" alt="">  
                </a>
                </div>
        <% } else { %>
            <% console.log('else', user._id, post[i].user) %>
        <% } %>
    <% } %>
        </div>
    </div>

</div>

<%-include('../partials/footer.ejs') %>